.Footer {
    display: block;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
}


.li1, .li2, .li3, .li4, .li5 {
    
    list-style: none;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 22px;
    color: rgb(132, 132, 133);
}

.star{
    padding-top: 30px;
    color: #d1d1d2;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
    text-align: center;
    font-family: "Pretendard", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;

}