.movieImg {
    vertical-align: top;
    width: 300px;
    height: 300px;
    min-height: 1px;
    opacity: 1;
    margin: 50px;
    display: block;
    border: 2px solid #d9d9d9;;
    
}


.movieContent {
    -webkit-text-size-adjust: 100%;
    font-family: "Pretendard", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    white-space: pre-line;
    margin: 50px 50px 50px;
    min-height: 150px;
    
}

.box3 {
    order: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.box3 > *:not(:last-child) {
    margin-right: 80px;
}

.section {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Pretendard", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: grid;
    row-gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(217, 217, 217);
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 0px 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

.box1and2 {
    display: flex;
    flex-direction: column;
}

.movieDetail {
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 500px;
}


.movieImg {
    order: 1;
}

.box0 {
    order: 2;
    width: 100%;
}

.box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}



.ratingContainer svg {
    fill: #eee;
    /* 기본 색상 */
}

.ratingContainer:hover svg {
    fill: #F82C60;
    /* 마우스 오버시 색상 */
}


.content4 {
    position: relative;
    justify-content: center;
    display: flex;
    color: #888;
    font-size: 36px;
}

.content5 {
    position: relative;
    justify-content: center;
    display: flex;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.icon {
    position: relative;
    justify-content: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    color: #8c8c8c;
    text-align: center;
    padding: 14px 10px;
}

.content6 {
    display: flex;
    align-items: center;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    width: unset;
    height: 30px;
    padding: 0;

}

.Maincontainer2{
    flex-direction: row;
    display: flex;
}

.Maincontainer1{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}
.introImg{
    display: flex;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.lec1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 120px;
    left: 0;
    padding-left: 20px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    color: #ffffff;
    max-width: 1320px;
    margin-right: 20px;

}

.lec2 {
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 80px;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    color: #ffffff;
    max-width: 1320px;
    margin-right: 20px;

}

.lec3 {
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    color: #ffffff;
    max-width: 1320px;
    margin-right: 20px;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(5px);  */
    z-index: 9999; /* 다른 요소 위에 표시 */
}

.modal > button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal > div {
    width: 375px;
    height: 540px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}





.SignupRedButton {
    width: 334px;
    height: 44px;
    margin: 0px 20px;
    background-color: #ff2f6e;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    position: fixed;
    margin-top: 150px;
    
}

.LoginWhiteButton{
    width: 334px;
    height: 44px;
    margin: 0px 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #ff2f6e;
    font-size: 15px;
    font-weight: bolder; 
    position: fixed;
    margin-top: 200px;
}

.modalIcon{
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzc4Nzg3OCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOS4xOCA2LjczNUg0LjY4YS41LjUgMCAwIDAtLjUuNXYxMy41MTlhLjUuNSAwIDAgMCAuNzg4LjQwN2w2Ljk2MS00Ljk0IDYuOTYxIDQuOTRhLjUuNSAwIDAgMCAuNzktLjQwN1Y3LjIzNGEuNS41IDAgMCAwLS41LS41TTE4LjY4IDIuMjIxSDUuMThhMSAxIDAgMCAwLTEgMXYxLjVhLjUuNSAwIDAgMCAuNS41aDE0LjVhLjUuNSAwIDAgMCAuNS0uNXYtMS41YTEgMSAwIDAgMC0xLTEiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) center center / contain no-repeat;
    vertical-align: top;
    width: 88px;
    height: 88px;
    margin: 100px 150px;
    
}
.modalContent{
    margin-top: -100px;
    position: relative;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 30px;
    white-space: pre-line;
    text-align: center;
}

.backButton{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    
}

.Picture{
    position: relative;
    z-index: 1;
    background: url(https://an2-img.amz.wtchn.net/image/v2/5L6g3KyDX39s88lm0Ltfaw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNCbGNuTnZiaTh4TmpVeE16STRNek13T1RNMk5qTTNOVFE1SW4wLlBWMjlhVmRBNHJEdWd3dzBwWW5JSnhIVWZSbm5WMDVqVTNSVS1rYkZIOFU) center center / cover no-repeat;
    width:80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}
.Picture2{
    position: relative;
    z-index: 1;
    background: url(https://an2-img.amz.wtchn.net/image/v2/W9d2cM7fqEy0e-zbaLkagQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeEwzQmxiM0JzWlM5dFpXUnBkVzB2TkdJeE56UmtNREV6TkRSbE4yRTRZVE15TmpndWFuQm5JbjAuWDV6OGJpV0YxUXVKbUxWalNvZkEzdDdKMXlwN1Z3a25wdWxNS1VKWWNuYw) center center / cover no-repeat;
    width:80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}
.Picture3{
    position: relative;
    z-index: 1;
    background: url(https://an2-img.amz.wtchn.net/image/v2/AtU1297fKlyDuF6aoGXeUQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeEwzQmxiM0JzWlM5dFpXUnBkVzB2WW1Zd056RmhZemRsTkRnNE9ESTNaRGN5WldFdWFuQm5JbjAuak55NFZVVkNmOFlqaXR1SzNJY2dmSF84UzExWFQ3RHlKNDgzUGx1eE5OWQ) center center / cover no-repeat;
    width:80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}
.Picture4{
    position: relative;
    z-index: 1;
    background: url(https://an2-img.amz.wtchn.net/image/v2/TuYZ-wsbIL4pTw9Q3VOfTA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNCbGNuTnZiaTh4TmpVNU5qWXpOemd6TkRVM056Y3pOalU1SW4wLkRvdy04TDFPYWpHd01oelo2ZkhQQ1FPangzSE1xN3FUUEdLQnByckQwN1k) center center / cover no-repeat;
    width:80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}

.ulContainer{
    /* justify-content: center; */
    padding-left: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(240, 240, 240);
    overflow: hidden;
    text-overflow: ellipsis;
}

.PictureContent{
    padding-left: 10px;
    padding-right: 100px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
.PictureContent1{
    color: rgb(30, 30, 30);
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PictureContent2{
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    max-height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.headerContainer{
    padding-left: 50px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 0px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 28px;
    margin: 8px 0px;
}

.Maincontainer4 {
    padding-left: 50px;

}
.comentHeader{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.comentHeader > span {
    color: rgb(255, 47, 110);
    font-size: 24px;
    line-height: 28px;
    margin: 0px 0px 0px 8px;
}

.comentContent1 {
    padding-right: 50px;
    color: rgb(255, 47, 110);
    font-size: 24px;
    line-height: 158px;
    float: right;
    position: absolute;
    right: 0;

}

.CommentMainbox{
    grid-template-columns: repeat(4, minmax(350px, 1fr));
    display: grid;
    gap: 8px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.CommentSubbox{
    box-sizing: border-box;
    ;
    display: block;
    padding: 0px;
}
.boxC{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    width: 350px;
    height: 300px;
    background-color: rgb(242, 242, 242);
    border-radius: 6px;
    overflow: hidden;
    
}

.boxC1{
    display: flex;
    position: relative;
    -webkit-box-align: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    text-decoration: none;

    color: rgb(31, 31, 31);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(229, 229, 229);
    line-height: 19px;
    height: 44px;
}

.boxC2{
    position: relative;
    height: 120px;
    margin: 12px 0px 15px;
    padding: 2px 8px;
}

.boxC3{
    position: relative;
    padding: 2px 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(120, 120, 120);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    height: 44px;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    overflow: hidden;
    
    
    
    

}

.ddabong{
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzc4Nzg3OCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik02Ljc1IDkuNDg1aC0zYTEgMSAwIDAgMC0xIDF2MTBhMSAxIDAgMCAwIDEgMWgzYTEgMSAwIDAgMCAxLTF2LTEwYTEgMSAwIDAgMC0xLTFNMjAuNjU3IDguNTY2YTIuMzYzIDIuMzYzIDAgMCAwLTEuNzc5LS44MTNIMTYuNjJsLjE2NC0uNjI3Yy4xMzctLjUyOC4yMDEtMS4xMi4yMDEtMS44NjMgMC0xLjkxOS0xLjM3NS0yLjc3OC0yLjczOC0yLjc3OC0uNDQ0IDAtLjc2Ni4xMjMtLjk4Ni4zNzYtLjIuMjI3LS4yODIuNTMtLjI0My45MzVsLjAzIDEuMjMtMi45MDMgMi45NGMtLjU5My42LS44OTQgMS4yMy0uODk0IDEuODcydjkuNjQ3YS41LjUgMCAwIDAgLjUuNWg3LjY4N2EyLjM4OCAyLjM4OCAwIDAgMCAyLjM0OC0yLjA3bDEuNDQ1LTcuNDUyYTIuNDQgMi40NCAwIDAgMC0uNTc0LTEuODk3Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) center center / contain no-repeat;
    width: 18px;
    height: 18px;
    margin: 0px 3px;
}
.boxC4{
    
    position: relative;
    background: none;
    border: none;
    margin: 0px;
    cursor: pointer;
    color: rgb(255, 47, 110);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    padding: 12px 18px;
}

.chat{
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM3ODc4NzgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTkuODU3IDE3Ljc4Nkw2IDIxdi00LjkxYy0xLjg0MS0xLjM3My0zLTMuMzY5LTMtNS41OUMzIDYuMzU4IDcuMDMgMyAxMiAzczkgMy4zNTggOSA3LjVjMCA0LjE0Mi00LjAzIDcuNS05IDcuNS0uNzM5IDAtMS40NTYtLjA3NC0yLjE0My0uMjE0eiIvPgo8L3N2Zz4K) center center / contain no-repeat;
    width: 18px;
    height: 18px;
    margin: 0px 3px 0px 13px;
}

.starBox{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    box-sizing: border-box;
    min-width: 55px;
    height: 26px;
    padding: 0px 8px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 13px;
    padding: 10px;
}

.galaryHeader{
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 0px;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 28px;
    margin-top: 50px;
    
}

.galaryImg1{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/qyntwpwHk3NDXphv1ugk0w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpnNE5qWXdPRGN4TWpJeE5qSWlmUS5ZSmx4dzBsbm1xYkZGaVFfNkdCVWFTdUtMdUdDTVFPM3NRR2s1c0RsUGlj);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg2{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/CqLzfA0nCoA5rQtY5CrUSw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFeE56UTVNRFExT1RJNU1qY3dJbjAuNV9Hb2wwYUpFaUhvY1c1VHRRZXhQYkJYbGhwVDd4OG51RGdRZ2ZIcjM3Zw);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg3{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/K46FMdn1bdRiFJRYjCDY6Q.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFME5UTXhOVEl5TURBMk9ETTROQ0o5LjMzZVJKcFZ2TVlOU0F3N0RGMXIzN0gzRkNGRktyNWVsS1o4RkpteEZkSEU);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg4{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/SsWRk5HA0XUPpBdK1-BsFA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpjNE16azBNRGM0T0RrNU1qSTFJbjAuUHlfb1ZTTjlWWFlhWDl1Vm95MFptdVhJbl9FZ2gzVnZDTVZNVkZWQTN1OA);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg5{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/duKYfWyvg_QtdxJg2fhPFg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpNMU1EQXhOamsxTVRnME1qQWlmUS5vUkFwTi1OLTFpb2dXbXdiU3lBbnprVEhJdVdOOTdfaUwxcUlKdkpfaFcw);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg6{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/rLhMi9T_vS6oQusL_dWRiw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpNMU1EQXdOek0yTVRjMU1UZ2lmUS5SR3JlWFhvaVJ3ejhSTFZDdzFibXVLc1RNNkZkeXk0anRCYm1xTUZ4ZHhN);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg7{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/ZroSGpJkgNrDKrGlPQrHIw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFeE56UTVNRFV6TlRJM01EUXlJbjAuaUc0Y3pHbllNTFRlTHlGTVZpN3BidmRTR3hqcnA2NGVRQno1NUpmMFhvTQ);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}
.galaryImg8{
    background-image: url(https://an2-img.amz.wtchn.net/image/v2/MC-36S-LapC0EcQmxVJ2Vg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5qUXdlRE0yTUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpNNE1qUXdOakEwT1RnM09URWlmUS41YlR1SGN0dzQwVWtDM1BaV1IxSmtDTkJPUndPd2xjdUhucFRGamJfWTNz);
    width: 400px;
    height: 300px;
    
    display: inline-block;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
    margin-right: 10px;
}

.galaryList {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow: visible;
    margin-top: 42px;
}


.galaryList {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
